* {
  box-sizing: border-box;
}

/* STUFF TO PLAY WITH  

font-family: raleway,helveticaneue,helvetica neue,Helvetica,Arial,sans-serif;

font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Lato', sans-serif;

*/

.button {
  background-color: rgb(108,148,172);
  border: none;
  color: white;
  padding: 14px 20px;
  text-align: center;
  font-size: 14px;
  margin: 4px 2px;
  opacity: 0.75;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border-radius: 2px;
  /*width: 140px;*/
  margin-bottom: 15px;
}

.button + .button {
  border: 2px solid rgb(108,148,172);
  background-color: white;
  color: rgb(108,148,172);
  padding: 12px 18px;
}

a {
  font-weight: 600;
}

body {
  font-family: "Open Sans", sans-serif; 
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
  margin: 0;
}

nav,
footer {
  padding: 1% 0;
}

footer {
  background-color: rgb(108,148,172);
}

nav {
  text-align: left;
  padding-left: 20px;
  font-family: 'Poppins', sans-serif;
}


h1 {
  /*font-family: 'Lato', sans-serif;*/
  font-family: 'Raleway', Helvetica,Arial,sans-serif;
  letter-spacing: 1px;
  font-size: 2.6rem;
  margin-bottom: 0px !important;
}

h3 {
  margin-top: 0;
}

p {
  margin-top: 0px;
  line-height: 138%;
}

.bio {
  max-width: 82%;
  margin: 0 auto 25px auto;
  text-align: justify;
  
}

figcaption, p, footer {
  /*font-family: 'Poppins', sans-serif;*/
  font-family: 'Open Sans', sans-serif;
}

figcaption {
  margin-bottom: 35px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: rgb(100,116,124);
  color: rgb(244,244,244)
}


h3 {
  font-size: 1.7rem;
  font-family: 'Raleway';

}

header {
  /*padding: 12% 0;*/
  padding-top: 5%; 
}

section {
  min-height: 200px;
  padding: 3% 0;
  background-color: rgb(196,212,220);
}

section:nth-child(even) {
  background-color: rgb(244,244,244);
}

.responsive-img {
  width: 100%;
  max-width: 1000px;
  height: auto;
}

.profile-img {
  width: 100%;
  max-width: 100px;
  height: auto;
  border-radius: 50%;
   
}

header[role="banner"] {
  max-width: 90%;
  margin: 0 auto;
}

.bold {
  font-weight: 700;
}

a {
  text-decoration: none;
  color: rgb(212,92,52);
}

.underline {
  border-bottom: 5px solid rgb(212,92,52);
}

/* FORM */

legend {
  color: #fff;
  font-size: 22px;
  font-weight: 600;
}

fieldset {
  border: 0;
}

label {
  display: none;
}

input, textarea {
  width: 70%;
  border-radius: 2px;
  border: 0;
  padding: 5px;
  font-family: "Open Sans", sans-serif; 
  font-size: 17px;
}



input[type="submit"] {
  background-color: rgb(108,148,172);
  border: 2px solid #fff;
  color: #fff;
  padding: 10px 0 10px 0;
}

input[type="submit"]:hover {
  cursor: pointer;
}

fieldset div {
  margin-bottom: 15px;
}

/* END FORM */

p + p {
  display: inline-block;
  margin-bottom: 55px;
}

@media only screen and (max-width: 600px)  {
  header {
    padding-top: 25%; 
  }

  nav {
    text-align: center;
  }

  .header-one {
    font-size: 1.4em;
    letter-spacing: 0px;
  }

  body {
    font-size: 16px;
  }

  p + p {
    font-size: 14
  }

}

/* Color Pallet https://www.dtelepathy.com/blog/wp-content/uploads/2013/07/Color-Palette-Post-45-scott.png */